
@keyframes blinker {
    0%,100% {color: black;}
    50%     {color: white;}
}

.splash {
    animation: blinker 1s linear infinite;
}

.logo {
    position: absolute;
    top: 16px; left: 16px;
    width: 150px; height: 150px;
    background: url("/static/logo.png");
}

.menu {
    position: absolute;
    top: 16px; left: 182px; right: 16px;
    height: 32px;
    border: black double 3px;
}

.menu span {
    position: relative;
    top: 4px;
    left: 8px;
}

@keyframes splashfloat {
    0%,50%,100% {top: 64px;}
    25% {top: 68px;}
    75% {top: 60px;}
}

.splash {
    position: absolute;
    top: 64px; left: 182px; right: 16px;
    height: 64px;
    animation: splashfloat 5s linear infinite;
}

.maindata {
    position: absolute;
    top: 172px; left: 16px; right: 16px; bottom: 16px;
    border: black double 3px;
    padding: 16px;
}