<head>
    <title>ataritsu ‖ {{ pagename }}</title>
    <link rel="stylesheet" href="/static/css/default.css">
</head>
<body>
    <div class="logo"></div>
    <div class="splash">
        {{ message }}<br>
        {{ time }}
    </div>
    <div class="menu">
        <span>
            <a href="/">⌂ index</a> |
{% if not production %}
            <a href="/api/restart">↯ restart server</a> |
{% endif %}
{% if username %}
            ❤ hello {{ username }} |
            <a href="/api/logout">※ logout</a>
{% else %}
            <a href="/login">※ login</a> |
            <a href="/signup">✆ sign up</a>
{% endif %}
        </span>
    </div>
</body>